<div class="container">
    <div class="row d-flex p-2 flex-column align-items-center justify-content-center">
        <form class="col-md-6 border p-3" action="" method="post">
        <div class=" text-center">
            <h2>Join Our News Letter</h2>
            <p>be the first to know of a new post</p>
        </div>
        <input type="text" name="name" id="email" class="form-control mb-3" placeholder="Name">
        <input type="email" name="email" id="email" class="form-control mb-3" placeholder="Email: example@example.com">
        <input type="submit" name="join-new-letter" class="form-control btn text-light" value="Subscribe" style="background: #9e679a">
        </form>
    </div>
</div>